httpx>=0.27
pydantic>=2.7
sqlalchemy>=2.0
alembic>=1.13
redis>=5.0
pytest>=8.0


# Bump alembic from 1.4.7 to 1.8.7
bump_alembic_from_1.4.7_to_1.8.7_c0024_0 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_1 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_2 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_3 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_4 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_5 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_6 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_7 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_8 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_9 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_10 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_11 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_12 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_13 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_14 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_15 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_16 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_17 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_18 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_19 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_20 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_21 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_22 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_23 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_24 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_25 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_26 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_27 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_28 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_29 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_30 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_31 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_32 = True


# Bump redis from 1.5.1 to 2.0.7
bump_redis_from_1.5.1_to_2.0.7_c0085_0 = True
bump_redis_from_1.5.1_to_2.0.7_c0085_1 = True


# Bump cryptography from 2.2.7 to 1.9.2
bump_cryptography_from_2.2.7_to_1.9.2_c0123_0 = True
bump_cryptography_from_2.2.7_to_1.9.2_c0123_1 = True
bump_cryptography_from_2.2.7_to_1.9.2_c0123_2 = True


# Bump cryptography from 1.7.1 to 1.5.5
bump_cryptography_from_1.7.1_to_1.5.5_c0140_0 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_1 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_2 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_3 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_4 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_5 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_6 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_7 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_8 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_9 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_10 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_11 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_12 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_13 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_14 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_15 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_16 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_17 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_18 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_19 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_20 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_21 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_22 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_23 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_24 = True


# Bump cryptography from 2.8.4 to 4.5.1
bump_cryptography_from_2.8.4_to_4.5.1_c0233_0 = True
bump_cryptography_from_2.8.4_to_4.5.1_c0233_1 = True
bump_cryptography_from_2.8.4_to_4.5.1_c0233_2 = True
bump_cryptography_from_2.8.4_to_4.5.1_c0233_3 = True
bump_cryptography_from_2.8.4_to_4.5.1_c0233_4 = True
bump_cryptography_from_2.8.4_to_4.5.1_c0233_5 = True


# Bump boto3 from 3.4.1 to 4.5.9
bump_boto3_from_3.4.1_to_4.5.9_c0264_0 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_1 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_2 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_3 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_4 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_5 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_6 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_7 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_8 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_9 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_10 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_11 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_12 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_13 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_14 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_15 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_16 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_17 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_18 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_19 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_20 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_21 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_22 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_23 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_24 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_25 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_26 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_27 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_28 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_29 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_30 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_31 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_32 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_33 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_34 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_35 = True
bump_boto3_from_3.4.1_to_4.5.9_c0264_36 = True


# Bump cryptography from 1.2.8 to 2.0.1
bump_cryptography_from_1.2.8_to_2.0.1_c0274_0 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_1 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_2 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_3 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_4 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_5 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_6 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_7 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_8 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_9 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_10 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_11 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_12 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_13 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_14 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_15 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_16 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_17 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_18 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_19 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_20 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_21 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_22 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_23 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_24 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_25 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_26 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_27 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_28 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_29 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_30 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_31 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_32 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_33 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_34 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_35 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_36 = True
bump_cryptography_from_1.2.8_to_2.0.1_c0274_37 = True
