httpx>=0.27
pydantic>=2.7
sqlalchemy>=2.0
alembic>=1.13
redis>=5.0
pytest>=8.0


# Bump alembic from 1.4.7 to 1.8.7
bump_alembic_from_1.4.7_to_1.8.7_c0024_0 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_1 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_2 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_3 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_4 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_5 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_6 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_7 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_8 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_9 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_10 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_11 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_12 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_13 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_14 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_15 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_16 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_17 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_18 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_19 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_20 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_21 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_22 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_23 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_24 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_25 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_26 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_27 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_28 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_29 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_30 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_31 = True
bump_alembic_from_1.4.7_to_1.8.7_c0024_32 = True


# Bump redis from 1.5.1 to 2.0.7
bump_redis_from_1.5.1_to_2.0.7_c0085_0 = True
bump_redis_from_1.5.1_to_2.0.7_c0085_1 = True


# Bump cryptography from 2.2.7 to 1.9.2
bump_cryptography_from_2.2.7_to_1.9.2_c0123_0 = True
bump_cryptography_from_2.2.7_to_1.9.2_c0123_1 = True
bump_cryptography_from_2.2.7_to_1.9.2_c0123_2 = True


# Bump cryptography from 1.7.1 to 1.5.5
bump_cryptography_from_1.7.1_to_1.5.5_c0140_0 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_1 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_2 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_3 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_4 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_5 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_6 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_7 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_8 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_9 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_10 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_11 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_12 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_13 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_14 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_15 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_16 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_17 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_18 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_19 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_20 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_21 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_22 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_23 = True
bump_cryptography_from_1.7.1_to_1.5.5_c0140_24 = True
